<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Data Science| Chris Kaczenski</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='pig.ico') }}">
		<link rel="stylesheet" href="../static/bootstrap.min.css">
	</head>
	<body>

		<div id="root">
		</div>
		
		<script src="../static/react.min.js"></script>
		<script src="../static/react-dom.min.js"></script>
		<script src="../static/browser.min.js"></script>
		<script src="../static/jquery.min.js"></script>
		<script src="../static/bootstrap.min.js" ></script>
		<script src="{{url_for('static', filename='app.js') }}"></script>
	</body>
</html>